*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
    user-select: none;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
}

body{
	min-width:100%;
	min-height:100%;
}

#Background{
    position: absolute;
    background: url('../Imgs/B2.jpg')no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;

}
#note1{
	width: 2.5vw;
	position: absolute;
	top: 20%;
	left: 35%;
	filter: brightness(.5);
	
    z-index:-1;
	transform: translate(50%,-50%) rotate3d(1, 3, 8, 182deg);
}
#note2{
	width: 4.8vw;
	position: absolute;
	top: 46.7%;
	left: 37.9%;
	filter: brightness(.1);
	
    z-index:-1;
	transform: translate(10px, 10px) rotate3d(1, 1, 1, 253deg);
}
#note3{
	width: 4.8vw;
	position: absolute;
	top: 23%;
	left: 13%;
	filter: hue-rotate(336deg) brightness(0.4);
    z-index:-1;
	transform: translate(50%,-50%) rotate3d(3, 3, 6, 262deg);
}
#note4{
	width: 4.8vw;
	position: absolute;
	top: 90.4%;
	left: 15%;
	filter: brightness(.05);
    z-index:-1;
	transform: translate(50%, -50%) rotate(140deg);
}
#note5{
	width: 4.8vw;
	position: absolute;
	top: 34%;
	left: 22%;
	filter: brightness(0.4);
	
    z-index:-1;
	transform: translate(50%,-50%) rotate3d(5, 5, 2, 148deg);
}
#note6{
	width: 3vw;
	position: absolute;
	top: 10%;
	right: 11%;
	filter: brightness(0.09);
	z-index:-1;
	transform: translate(50%,-50%) rotate(90deg);
}

#note7{
	width: 3.8vw;
	position: absolute;
	top: 68.7%;
	right: 31.2%;
	filter: brightness(0.12);
	transform: translate(50%,-50%) rotate3d(250, 5, 9, 293deg);
}
#Door{
	position: absolute;
	right: 25.2%;
	width: 8.6vw;
	height: 40.5vh;
	top: 30%;
	cursor: pointer;
    z-index:-1;
	transform: translate(50%,-50%) rotate3d(-67, 59, 60.6, 1deg);
}

#InvBody{
    transform: translate(100%,-100%);
    width: 11vw;
    height: 100vh;
    top: 100%;
    position: absolute;
    right: 100%;
    transition: width 2s;
    z-index: 1;
}

#Inv{
    width: 68%;
    height: 100%;
    left: 0%;
    position: relative;
    right: 100%;
    display: block;
    background: #202020;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
}

.InvNotes{
    position: relative;
    width: 40%;
    cursor: pointer;
}

#InvCloseButton{
    position: relative;
    width: 30%;
    height: 10%;
    left: 67.6%;
    bottom: 50%;
    cursor: pointer;
    background: #3e3e3e;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
}

#InvCloseButtonSVG{
    width:100%;
    height:100%;
    transform: rotate(180deg);
}


#InvOpenButton{
    position: absolute;
    width: 3vw;
    height: 9vh;
    top: 58.6%;
    right: 100%;
    cursor: pointer;
    background: #3e3e3e;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
    transform: translate(100%, -100%);
}

#InvOpenButtonSVG{
    width:100%;
    height:100%;
}
#OpenedNote{
    width: fit-content;
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    right: 150%;
    opacity: 0;
    transition: opacity 0.4s;
}

#OpenedNoteImg{
    width: 60vw;
    cursor: pointer;
}

#OpenedNoteText{
    color: #fffef0a8;
    position: absolute;
    transform: translate(50%, -50%);
    font-size:27px;
    width: 37vw;
    top: 50%;
    right: 50%;
    height: auto;
    text-align: center;
    overflow-wrap: break-word;
}