*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
    user-select: none;
}

html{
	width:100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;

}

body{
	min-width:100%;
	min-height:100%;
	
}
#Background{
    position:absolute;
    background: url(../Imgs/stirs.jpg) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: darken, luminosity;
    width: 100%;
    height: 100%;
    filter: blur(13px);
    transition: filter 2s;

}
#note{
    top: 9%;
    left: 55.6%;
    filter: brightness(0.24);
    position: absolute;
    width: 3.3vw;
    transform: translate(50%,-50%) matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3);z-index:-1;
}
#Door{
    width: 16.7vw;
    height: 60vh;
    position: absolute;
    top: 35%;
    left: 32.4%;
    cursor:
    pointer;
    z-index:-1;
    transform: translate(50%,-50%);
}

#InvBody{
    transform: translate(100%,-100%);
    width: 11vw;
    height: 100vh;
    top: 100%;
    position: absolute;
    right: 100%;
    transition: width 2s;
    z-index: 1;
}

#Inv{
    width: 68%;
    height: 100%;
    left: 0%;
    position: relative;
    right: 100%;
    display: block;
    background: #202020;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
}

.InvNotes{
    position: relative;
    width: 40%;
    cursor: pointer;
}

#InvCloseButton{
    position: relative;
    width: 30%;
    height: 10%;
    left: 67.6%;
    bottom: 50%;
    cursor: pointer;
    background: #3e3e3e;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
}

#InvCloseButtonSVG{
    width:100%;
    height:100%;
    transform: rotate(180deg);
}
#InvOpenButton{
    position: absolute;
    width: 3vw;
    height: 9vh;
    top: 58.6%;
    right: 100%;
    cursor: pointer;
    background: #3e3e3e;
    border-radius: 0px 20px 20px 0px;
    transition: width 0.8s;
    transform: translate(100%, -100%);
}

#InvOpenButtonSVG{
    width:100%;
    height:100%;
}
#OpenedNote{
    width: fit-content;
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    right: 150%;
    opacity: 0;
    transition: opacity 0.4s;
}

#OpenedNoteImg{
    width: 60vw;
    cursor: pointer;
}

#OpenedNoteText{
    color: #fffef0a8;
    position: absolute;
    transform: translate(50%, -50%);
    font-size:27px;
    width: 37vw;
    top: 50%;
    right: 50%;
    height: auto;
    text-align: center;
    overflow-wrap: break-word;
}